<!DOCTYPE html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewpoint' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>KronoPost</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>

<body>
    <header>
        <nav class="blue lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="{% url 'signup' %}">Register</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav center">
                        <li><a href="{% url 'home' %}" class="brand-logo center">KronoPost</a></li>
                </ul>
                
                <ul id="nav-mobile" class="sidenav right">
                    <li>
                        {% if user.is_authenticated %}
                            {{user.get_username}}
                            <ul id="nav-mobile" class="sidenav right">
                                <li><a class="btn btn-floating blue pulse" href="{% url 'link_create' %}"><i class="material-icons">edit</i></a></li>
                            </ul>
                        {% else %}
                            Anonymous User
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class='container'>
        {% block content%}
        {% endblock%}
    </div>
    <footer>
            <ul class='pagination'>
                {% if links.has_previous %}
                    <li class='waves-effect'>
                        <a href='?page={{ links.previous_page_number }}'><i class="material-icons">chevron_left</i></a>
                    </li>
                {% endif %}
        
                {% for i in links.paginator.page_range %}
                    {% if links.number == i %}
                        <li class='active waves-effect btn blue lighten-1'><span>{{ i }}</span></li>
                    {% else %}
                        <li  class='waves-effect btn-flat'><a href='?page={{ i }}'>{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
        
                {% if links.has_next %}
                    <li class='waves-effect'>
                        <a href='?page={{ links.next_page_number }}'><i class="material-icons">chevron_right</i></a>
                    </li>
                {% endif %}
            </ul>
    </footer>
</body>