{% extends 'layout.html' %}

{% block content %}
<ul class='center-align'>
    {% for link in links %}
    <li class='card-panel hoverable'>
        <a href='{{link.url}}'>
            <b>{{link.title}}</b>
        </a>
    </li>
    {% endfor %}
</ul>

<footer>
    <!--
    <div class='pagination'>
        <span class='step-links'>
            {% if links.has_previous %}
                <a href='?page=1'>&laquo; first</a>
                <a href='?page={{ links.previous_page_number }}'>previous</a>
            {% endif %}
            
            <span class='current'>
                Page {{ links.number }} of {{ links.paginator.num_pages }}.
            </span>
            
            {% if links.has_next %}
                <a href='?page={{ links.next_page_number }}'>next</a>
                <a href='?page={{ links.paginator.num_pages }}'>last &raquo;</a>
            {% endif %}
        </span>
    </div>
    -->
    <ul class='pagination'>
        {% if links.has_previous %}
            <li class='waves-effect btn-flat'>
                <a href='?page={{ links.previous_page_number }}'>&laquo;</a>
            </li>
        {% else %}
            <li class='disabled btn-flat'><span>&laquo;</span></li>
        {% endif %}

        {% for i in links.paginator.page_range %}
            {% if links.number == i %}
                <li class='active waves-effect btn blue lighten-1'><span>{{ i }}</span></li>
            {% else %}
                <li  class='waves-effect btn-flat'><a href='?page={{ i }}'>{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if links.has_next %}
            <li class='waves-effect btn-flat'>
                <a href='?page={{ links.next_page_number }}'>&raquo;</a>
            </li>
        {% else %}
            <li class='disabled btn-flat'><span>&raquo;</span></li>
        {% endif %}
    </ul>
</footer>
{% endblock %}